body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

input[type="text"]:disabled {
  cursor: text;
}

@font-face {
  font-family: "AleoSans";
  src: url("../public/AleofontSans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.headerDark {
  font-family: "AleoSans";
  color: white;
  font-size:32px;
  margin-left:2rem;
  a {
      color: white;
  }
}

.headerLight {
  font-family: "AleoSans";
  color: black;
  font-size:32px;
  margin-left:2rem;
  a{
      color: black;
  }
}

.buttonRow { 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.button {
  background-color: #ec005a;
  padding: 16px 32px 16px 32px;
  border-radius: 9px;
  font-size: 18px;
  color: white;
  border: none;

  a {
      text-decoration: none;
      color: white;
  }
}

.button:hover {
  background-color: #ec005a;
}

.address {
  color: #ec005a;
}